.marquee {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.marqueeInner {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
  will-change: transform; /* improves performance for smooth animations */
}

.marqueeInner:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
