@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@400;500;600;700&display=swap");

/* Root variables */
:root {
  --background: #ffffff;
  --foreground: #ffffff;
}
body {
  cursor: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

/* Local fonts */
@font-face {
  font-family: "cy-grotesk";
  src: url("/fonts/buzan-cy-grotesk-grand-dark.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "cy-grotesk";
  src: url("/fonts/cy-grotesk-wide.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Base styles */
body {
  background: var(--background);
  color: var(--foreground);
}

/* Utility font classes */
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-cy-grotesk{
  font-family: "Cy-grotesk", sans-serif;
}
/* Placeholder font */
input::placeholder,
textarea::placeholder {
  font-family: "Poppins", sans-serif;
}

/* Headings */
h1,
h2 {
  font-family: "cy-grotesk", sans-serif;
}

h1 {
    font-family: "cy-grotesk", sans-serif;

}

/* Paragraphs + nav + footer + spans */
h2 + p,
h2 + p + p,
h3 + p,
div + h3,
div + span,
div + div + p + strong + link,
div + div + link + p,
span,
nav,
footer {
  font-family: "Poppins", sans-serif;
}
